@charset "UTF-8";
/*
 *   ██████╗██╗   ██╗██████╗ ███████╗ ██████╗ ██████╗ ███████╗
 *  ██╔════╝██║   ██║██╔══██╗██╔════╝██╔═══██╗██╔══██╗██╔════╝
 *  ██║     ██║   ██║██████╔╝███████╗██║   ██║██████╔╝███████╗
 *  ██║     ██║   ██║██╔══██╗╚════██║██║   ██║██╔══██╗╚════██║
 *  ╚██████╗╚██████╔╝██║  ██║███████║╚██████╔╝██║  ██║███████║
 *   ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
 *                         ██╗  ██╗██╗   ██╗
 *                         ██║  ██║██║   ██║
 *  ████████████████████   ███████║██║   ██║
 *                         ╚════██║██║   ██║
 *                              ██║╚██████╔╝
 *                              ╚═╝ ╚═════╝
 *
 *  Brought to you by https://www.cursors-4u.com
 *
 *  Cursor: Flashy Colorful Purple Pink Star 5
 *  URL: https://www.cursors-4u.com/cursor/flashy-colorful-purple-pink-star-5
 */
@keyframes cursor-anim {
  0.00% { cursor: url("data:image/webp;base64,UklGRtAAAABXRUJQVlA4TMQAAAAvH8AHECdAkG0zvEnN8RZXIsi2mb/JTMZzgasJQICxAuhfUgHH/AfAvrfcVcBBJEm1s5VgYEHBbTDwcgauqPNvil/iIKL/E+DuOG9833xx87lxvC7eWGdZbUPjokvlol6EaOMvvZIqv8rMFB/ayMyC0ExvJkljVemNu0rycSdJDaCL9LnRVIBQ3WkAQBefiaYyhSrdvVEDy66FqaxC9ObNBk74nPTKpcqJnYRIk0gbO5OkE5OySwdSIrp0kACib5CJObIA") 0 0, auto; }
  50.00% { cursor: url("data:image/webp;base64,UklGRugAAABXRUJQVlA4TNsAAAAvH8AHEC9AEEASXlJDTjHGGgTZNvM3mcl4LnAFbdswfQDGH+UAvPkPgP+XNosbKQCxkey6zTkJC3iQKrgXFkBeGjDCAggCr/9i+FHSQUT/J6C1hvNvfj35xZOfJw2fD76wjrTado4HmUwP6oNO+fiXXCWmv4qIoC75iIiEzllWnCTHqsqKdlXS9TZJ4gAyJbO3WZEzAZ1V9m7NijgAIFOXtdvkTFNnld13EQeWmTKz4kyrTlmx4gMnuk5y1ZLpxE86JSclHzsnyRMnI5MHZKBn8iAA9LxBBOYeCQAA") 0 0, auto; }
}
html { animation: cursor-anim 332ms step-end infinite; }
a,button,input,textarea,label,[role=button],select,option{cursor:inherit!important}
